* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#work-screen {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main-screen {
  margin-top: 10vh;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  margin: 2rem;
  padding: 1rem;
}

.toolbar-item {
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui-btn {
  /* size: 3rem; */
  /* margin: 2rem; */
  padding: 0.2rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  font-family: var(--font-family);
}
